%h1 enter the intern that u want to delete.
%form{:action => "/putdel", :method => "POST", :name => "input"}
  Name:
  %input{:name => "name", :type => "text"}    
  %input{:type => "submit", :value => "Submit"}
