%form{:action => "/put", :method => "POST", :name => "input"}
  Name:
  %input{:name => "name", :type => "text"}   
  College:
  %input{:name => "college", :type => "text"}  
  %input{:type => "submit", :value => "Submit"}
