%h5.alert.alert-success
    Suggested appointments:

%ul{:"data-bind"=>"foreach:temporaryList"}
    %div.buyer-appt-list.well.well-small
        %div{:name => "appts-div-header"}
            %h4{:style => "margin: 1px 0px;"}
                Meet 
                %spam{:"data-bind"=>"text:buyer_name"}
            
        %div.appt-info{:style => "display:none"}
            %input.appt.appt-grouphash{:"data-bind"=>"value:hash_key"}
        
        %div
            %h6{:style => "margin: 1px 0px; border-left-width: 0px; border-style: solid; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 1px; border-color:burlywood;"}
                %p{:"data-bind"=>"text:time"} 

        %table
            %tr
                %td
                    %small.scheduled_homes{:"data-bind"=>"foreach:address"}
                        %p{:"data-bind"=>"text:$data"} 
                                        
        %div.btn-group.pull-right{:style => "margin-top: 6px;"}
            %button.btn.btn-small.btn-success.btn-appt-route{:"data-bind"=>"click:$parent.showRoute",:name => "buyer-appt-list-route"}
                Route
            %button.btn.btn-small.btn-primary.btn-appt-invite{:"data-bind"=>"click:$parent.inviteSuggested",:name => "buyer-appt-list-invite"}
                Invite
            %button.btn.btn-small.btn-danger.btn-appt-delete{:name => "buyer-appt-list-del"}
                Delete

%h5.alert.alert-success
    Tentative appointments:
    
%ul{:"data-bind"=>"foreach:tentativeList"}
    %div.buyer-appt-list.well.well-small
        %div{:name => "appts-div-header"}
            %h4{:style => "margin: 1px 0px;"}
                Meet 
                %spam{:"data-bind"=>"text:buyer_name"}
         
        %div.appt-info{:style => "display:none"}
            %input.appt.appt-grouphash{:"data-bind"=>"value:hash_key"}
        
        %div
            %h6{:style => "margin: 1px 0px; border-left-width: 0px; border-style: solid; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 1px; border-color:burlywood;"}
                %p{:"data-bind"=>"text:time"}
                
        %table
            %tr
                %td
                    %small.scheduled_homes{:"data-bind"=>"foreach:address"}
                        %p{:"data-bind"=>"text:$data"}                                       
            
        %div.btn-group.pull-right{:style => "margin-top: 6px;"}
            %button.btn.btn-small.btn-success.btn-appt-route{:"data-bind"=>"click:$parent.showRoute",:name => "buyer-appt-list-route"}
                Route
            %button.btn.btn-small.btn-appt-confirm{:"data-bind"=>"click:$parent.confirmTentative",:name => "buyer-appt-list-confirm"}
                Force Confirmation
            %button.btn.btn-small.btn-danger.btn-appt-delete{:"data-bind"=>"click:$parent.deleteTentative",:name => "buyer-appt-list-del"}
                Delete   

%h5.alert.alert-success
    Confirmed appointments:
    
%ul{:"data-bind"=>"foreach:confirmedList"}
    %div.buyer-appt-list.well.well-small
        %div{:name => "appts-div-header"}
            %h4{:style => "margin: 1px 0px;"}
                Meet 
                %spam{:"data-bind"=>"text:buyer_name"}
            
        %div.appt-info{:style => "display:none"}
            %input.appt.appt-grouphash{:"data-bind"=>"value:hash_key"}

        %div
            %h6{:style => "margin: 1px 0px; border-left-width: 0px; border-style: solid; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 1px; border-color:burlywood;"}
                %p{:"data-bind"=>"text:time"} 
                
        %table
            %tr
                %td
                    %small.scheduled_homes{:"data-bind"=>"foreach:address"}
                        %p{:"data-bind"=>"text:$data"}                    
                
        %div.btn-group.pull-right{:style => "margin-top: 6px;"}
            %button.btn.btn-small.btn-success.btn-appt-route{:"data-bind"=>"click:$parent.showRoute",:name => "buyer-appt-list-route"}
                Route
            %button.btn.btn-small.btn-danger.btn-appt-delete{:name => "buyer-appt-list-del"}
                Delete   						
    
