!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title=SiteConfig.title
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    / The styles
    %link{:href => "../assets/css/bootstrap.min.css", :rel => "stylesheet"}
    :css
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
      #map_canvas {
        min-height: 400px;
      }
      #directionsPanel {
        max-height: 400px;
        overflow: auto;
      }
    %link{:href => "../assets/css/bootstrap-responsive.min.css", :rel => "stylesheet"}
    %link{:href => "../assets/css/bootstrap-timepicker.css", :rel => "stylesheet"}
    %link{:href => "../assets/css/datepicker.css", :rel => "stylesheet"}
    // HTML5 shim, for IE6-8 support of HTML5 elements
    //[if lt IE 9]
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    // fav and touch icons
    %link{:href => "../assets/ico/favicon.ico", :rel => "shortcut icon"}
    %link{:href => "../assets/ico/apple-touch-icon-114-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}
    %link{:href => "../assets/ico/apple-touch-icon-72-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}
    %link{:href => "../assets/ico/apple-touch-icon-57-precomposed.png", :rel => "apple-touch-icon-precomposed"}

  %body{:"data-spy"=>"scroll", :"data-target"=>"sidebar"}
    .container
      =haml_activate :header, 'schedule'

      - @no_clients = (defined?(@u.buyers)).nil? or @u.buyers.empty? or @u.buyers.nil?

      //TODO: gnolkha
      //.row-fluid
      //  - unless @no_clients
      //    =haml_partial :partial_todo

      .row-fluid
        - unless @no_clients
          .span12.pagination-centered
            // One button does it all, route and schedule
            %button.btn.btn-large.btn-primary{:type => "button", :id => "feelSchedule", :'data-loading-text'=>"Searching..."}
              //%img.img-circle{:src=>"../assets/img/container-bg.jpg"}
              //%i.icon-calendar
              Smart Schedule
            %button.btn.btn-link.btn-mini{:id => 'btnDiffSearch', 'data-toggle'=>"button"}
              Hide / Show Advanced Schedule

      // 
      // Display Advanced Scheduling
      //
      .row-fluid{:id => 'diffSearchTab'} 
        // this padding is necessary otherwise hero-unit's original padding gets used
        .span12.hero-unit{:style=>"padding: 10px;"}
          .row-fluid
            %h6.alert.alert-info
              %button.close{:type=>"button", :"data-dismiss"=>"alert"}×
              Advanced schedule lets you schedule an appointment for a particular buyer.
              It also lets you optionally choose a set of homes and a specific date and time.
          .row-fluid
            .span4
              // buyers list
              // TODO: Some day, get rid of this onclick from here
              - unless @no_clients
                %h4.text-info
                  1. Pick Client
                  %i.icon-arrow-right
                .btn-group{:"data-toggle"=>"buttons-radio"}
                  - @u.buyers.each do |b|
                    - @selected_user = nil
                    %button.btn.btn-link{:type=>'button', :style=>"width:100%;text-align:left;border:1px solid", :href=>"#{'#'+'buyer'+b.id.to_s}", :onclick=>"return selectedTargets(#{b.id}, '#{b.name}');"}
                      .i.icon-chevron-right.pull-right
                      #{b.name}
                    %br

            .span5
              // requested homes list
              %h4.text-info 
                2. Add / Pick Homes
                %i.icon-arrow-right
              .alert.alert-info.span10
                %button.close{:type=>"button", :"data-dismiss"=>"alert"}×
                =haml_partial :mlsid
                =haml_partial :address
                %form.form-inline{:id => 'formAssignHome', :action => ""}
                  .control-group
                    .controls
                      %input.hidden{ :name => 'buyer_id', :style => 'display:none;' }
                      %select{ :name => "home_id" }
                        - Home.each do |a|
                          %option{ :value => "#{a.id}" } #{[a.street, " ", a.city].join}
                      %button.btn.btn-primary{:type => "submit"} Assign to client
              %div.span12{:id => "ChosenHomesListHead"}
                %div{:id => "ChosenHomesList"}

            .span3
              // select date and time
              %h4.text-info 3. Pick Date and Time
              %div{:id => 'pickDateTime'}
                // Date
                %div.control-group.pdate
                  %label.control-label{:for => 'date-start'} Pick Date:
                  %div.controls
                    %input.input-small.dpicker.datepicker-tomorrow{:type => 'text', :id => 'date-start', :name => 'date-start', :placeholder => "Click to Pick"}
                // Time
                %div.control-group.ptime
                  %label.control-label{:for => 'time-start time-end'} Pick Time:
                  %div.controls
                    %label.control-label{:for => 'time-start'} From:
                    %input.input-small.timepicker-from{:type => 'text', :id => 'time-start', :name => 'time-start'}
                    %label.control-label{:for => 'time-end'} To:
                    %input.input-small.timepicker-to{:type => 'text', :id => 'time-end', :name => 'time-end'}
                  %span.help-inline.errMsg
                    //Outside your preference or end-time < start-time

          %hr
          .row-fluid
            .btn-group.pull-right
              %button.btn.btn-success.calcRoute
                Route
              %button.btn.btn-primary.calcSchedule
                Schedule
              %button.btn.btn-danger.markSeen
                Mark Seen

      %br
      .modal.hide.fade.modalWarning
        .modal-body
          %button.close{:'data-dismiss'=>"modal", :'aria-hidden'=>"true"} &times
          %div.modalMessage

      .row-fluid{:id => 'resultsTab'}
        .span4
          //Schedule

          // Pick date to show appoints on that specific date
          %div.input-append
            %input.input-small.dpicker.datepicker-any{:type => 'text', :id => 'appt-date-start', :name => 'date-start', :placeholder => "Select Date"}
            %button.btn.btn-primary{:id => 'btnShowApptsByDate',:"data-bind" => "click:ShowApptsByDate"}Show Appointments

          // show appointments
          %div{:id => "schedulerResultId", :style => 'overflow-y:auto; min-height:100px; max-height:370px;'}
            =haml_partial :display_appointment_ko
            %div{:id => "confirmed_appt_list"}
            %div{:id => "tentative_appt_list"}
            

        .span4
          // Map and it is Important that this needs to be active: "But it seams a block containing the map may not be hidden, when GMaps loads."
          %div{:id => "map_canvas"}

        .span4
          // Directions
          %div{:id => "directionsPanel", :"min-height" => "400px"}
          //Please do not remove this, this is very handy for debugging
          //%div{:id => "summaryPanel"}

        //Please do not remove this, this is very handy for debugging
        //%div{:id => "distanceMatrixId", :width => "200px", :height => "400px"}

      %hr

      =haml_partial :footer
      .hide-it-all{:style => "display:none"}
        - show_string = "#{@u.street} #{@u.city} #{@u.state} #{@u.zipcode}"
        %input{:id => "startAddress", :value => "#{show_string}"}
        %input{:id => "endAddress", :value => "#{show_string}"}
    //container

    //
    //  Javascript
    //==================================================
    // Placed at the end of the document so the pages load faster
    =haml_partial :'google-analytics'
    %script{:src => "../assets/js/jquery.min.js"}
    %script{:src => "../assets/js/jquery.validate.js"}
    %script{:src => "../assets/js/additional-methods.js"}    
    %script{:src => "../assets/js/bootstrap.min.js"}
    %script{:src => "../assets/js/bootstrap-timepicker.js"}
    %script{:src => "../assets/js/bootstrap-datepicker.js"}
    %script{:src => "../assets/js/knockout-2.2.1.js"}
    %script{:src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyBE6NAqMslOi-G61IREqzoV0MAQwacn9bA&sensor=false"}
    %script{:src => "../assets/js/appointments_ko.js"}
    %script{:src => "../assets/js/gmaps.js"}
    %script{:src => "../assets/js/datetime.js"}
    %script{:src => "../assets/js/prefs.js"}
    %script{:src => "../assets/js/homes.js"}
