%html
  %head
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
    :javascript
      $(document).ready(function(){
        $(".p1").hover(function(){
         $("#p2").css("display", "block");
          },
          function(){
         $("#p2").css("display", "none");
        }); 
      });
    :css
      #p2
      {
      display:none;
      }
  %body
  %h1 list of all interns
  -unless @intall.empty?
    -@intall.each do |intern|
      %table{}
        %tr
          %td.p1=intern.name
          %p
            %span#p2= "from "+intern.college+" and leader "+intern.lname  
  %h3 Add a intern 
  %form{:action => "/put", :method => "POST", :name => "input"}
    Name:
    %input{:name => "name", :type => "text"}   
    College:
    %input{:name => "college", :type => "text"}
    Leader:
    %input{:name=> "lname", :type=>"text"}  
    %input{:type => "submit", :value => "Submit"}

