%html
  %head
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
    %script
      function showdetail(intern)
      {
      document.write(intern);
      alert("Hello World!");
      }
      function show1(val)
      {
      $.post("/show",{name:val},function(data){$("#s1").html(data);});
      return false;
      }
      function addform()
      {
      $("#sh").css("display","block");
      $("#dh").css("display","none");
      }
      function delform()
      {
      $("#sh").css("display","none");
      $("#dh").css("display","block");
      }
      function insert(nme,cllege,leader)
      {
      $.post("/insert",{name:nme,college:cllege,lname:leader},function(data){ 
      $("#bt").attr('value',data);  
      $("#bt").css("display","block");
      $("#sh").css("display","none");
      });
      return false;
      }
      function del(nme)
      {
      $.post("/delete",{name:nme},function(data){
      var v1 = document.getElementsByTagName("*");
      for(var i = 0; i<v1.length; i++)
      {
      if(v1[i].getAttribute("value")==data) 
      {
      v1[i].style.display="none"; 
      }
      }
      });
      $("#dh").css("display","none");
      return false;      
      }
    :css
      #sh
      {
      display:none;
      }
      #dh
      {
      display:none;
      }
      #bt
      {
      display:none;
      }
  %body
  %h1 list of all interns
  -unless @intall.empty?
    -@intall.each do |intern|
      %table{}
        %tr
      %input{:type=>"button", :value=>intern.name, :onClick=> "return show1(value)"}
  %input{:type=>"button", :id=>"bt" , :value=>"h", :onClick=> "return show1(value)"}
  %input{:type=>"button",:value=>"Add Intern", :onClick=>"addform()"}
  %input{:type=>"button",:value=>"Delete Intern", :onClick=>"delform()"}
  %div#s1
  %form#sh{:name => "input", :return=>"false"}
    Name:
    %input{:name => "nme", :type => "text"}   
    College:
    %input{:name => "college", :type => "text"}
    Leader:
    %input{:name=> "lname", :type=>"text"}  
    %input{:type => "submit", :value => "Submit", :onClick=> "return insert(nme.value,college.value,lname.value)"}
  %form#dh{:return=>"false"}
    Name:
    %input{:name=> "delt", :type=>"text"}
    %input{:type => "submit", :value => "Submit", :onClick=>"return del(delt.value)"}

